{% extends 'base.html' %}
{% block title %}Create Message{% endblock title %}
{% block content %}
<main>
    <div class="form-container">
        <div class="create-message-form form">
            <h1>Create Message</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="create-button create-message-button">Send</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
