{% extends 'base.html' %}
{% block title %}Message{% endblock title %}
{% block content %}
<main>
    <div class="message-container">
        <div class="content-container">
            <div class="message-header">
                <div class="top-left-section">
                    <h1>{{ message.subject }}:</h1>
                    <div class="message-sender">From: {{ message.sender }}</div>
                </div>
                <div>{{ message.created_on|date:"n/j/y" }}</div>
            </div>
            <div class="message-content">{{ message.content }}</div>
        </div>
    </div>
</main>
{% endblock content %}
