{% extends 'base.html' %}
{% block title %}Inbox{% endblock title %}
{% block content %}
<main>
    <div class="inbox-container">
        <div class="inbox-top-section">
            <h1>Inbox</h1>
            <form method="post" class="search-bar-inbox-form" action="{% url 'search_inbox' %}">
                {% csrf_token %}
                    <select name="search-bar-inbox-filter" id="search-bar-inbox-filter">
                        <option value="all">All</option>
                        <option value="subject">Subject</option>
                        <option value="sender">Sender</option>
                        <option value="date">Date</option>
                    </select>
                    <input type="search" class="search-bar-inbox-input" name="inbox-searched">
                    <button class="search-button inbox-search-button" type="search">Search</button>
            </form>
            <div class="create-message-link">
                <button class="create-button"><a href="{% url 'create_message' %}">Create Message</a></button>
            </div>
        </div>
        <table class="inbox-table">
            <thead>
                <th>Date</th>
                <th>Sender</th>
                <th>Subject</th>
                <th></th>
            </thead>
            <tbody>
                {% if messages.all|length == 0 %}
                    <tr>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                        <td></td>
                    </tr>
                {% else %}
                {% for message in messages %}
                <tr>
                    <td>{{ message.created_on|date:"n/j/y g:i a" }}</td>
                    <td><a href="{% url 'show_list_sender' message.id %}">{{ message.sender }}</a></td>
                    <td><a href="{% url 'show_message' message.id %}">{{ message.subject }}</a></td>
                    <td class="delete-column"><a href="{% url 'delete_message' message.id %}">Delete</a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
