{% extends 'base.html' %}
{% block title %}Inbox Search{% endblock title %}
{% block content %}
<main>
    <div class="inbox-container">
        <div class="inbox-top-section">
            <h1>Results: {{ searched }}</h1>
        </div>
        <table class="inbox-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sender</th>
                    <th>Subject</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.created_on }}</td>
                    <td>{{ result.sender }}</td>
                    <td><a href="{% url 'show_message' result.id %}">{{ result.subject }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
