{% extends 'base.html' %}
{% block title %}Sender List{% endblock title %}
{% block content %}
<main>
    <div class="inbox-container">
        <div class="top-section">
            <h1>Sender: {{ user_sender }}</h1>
        </div>
        <table class="inbox-table">
            <thead>
                <th>Date</th>
                <th>Sender</th>
                <th>Subject</th>
            </thead>
            <tbody>
                {% if messages.all|length == 0 %}
                    <tr>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                    </tr>
                {% else %}
                {% for message in messages %}
                <tr>
                    <td>{{ message.created_on|date:"n/j/y g:i a" }}</td>
                    <td>{{ message.sender }}</td>
                    <td><a href="{% url 'show_message' message.id %}">{{ message.subject }}</a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
