@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow-y: scroll;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

body,
input,
textarea,
button,
select {
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    background-color: snow;
}

a,
a:visited {
    text-decoration: none;
}

header {
    background-color: royalblue;
    height: 50px;
    width: 100%;
}

header>nav {
    height: 100%;
    width: 100%;
}

header>nav>ul {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

li>a,
li>a:visited,
span {
    text-decoration: none;
    font-weight: bold;
    color: snow;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 100%;
    justify-content: left;
}

.left-side>li {
    display: flex;
    margin: 0px 10px;
    padding: 0px 10px;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.left-side>li:hover {
    background-color: navy;
}

.dropdown {
    display: flex;
    position: relative;
    height: 100%;
}

.dropdown:hover {
    background-color: navy;
}

.dropdown>span {
    padding: 7.5px;
    align-self: center;
    justify-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: royalblue;
    min-width: 160px;
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content>li:last-child {
    margin-top: 10px;
}

.dropdown-content>li:not(:last-child) {
    margin: 10px 0px;
    border-bottom: 1px solid black;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    top: 50px;

}

.center {
    justify-self: center;
    align-self: center;
    position: absolute;
}

.right-side {
    display: flex;
    flex-wrap: wrap;
    justify-self: right;
    align-self: center;
    align-content: center;
    padding-right: 40px;
    position: absolute;
    height: 50px;
}

.logout-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    padding: 0px 7.5px;
}

.right-side .logout-section:hover {
    background-color: navy;
}

.right-side a {
    padding: 7.5;
}

.search-bar>* {
    margin: 0px;
}

.search-bar-input,
.search-bar-inbox-input {
    padding: 5px;
    background-color: snow;
    border: 0.5px solid snow;
}

.search-bar-input:focus,
.search-bar-inbox-input:focus {
    outline-style: solid;
    outline-offset: 0px;
    outline-width: 2px;
    outline-color: goldenrod;
}

.search-bar-inbox-input {
    padding: 5px;
    background-color: snow;
    border: 0.5px solid black;
}

.search-button {
    height: 28px;
    background-color: goldenrod;
    font-weight: bold;
    padding: 3.5px;
    border: 0px;
}

.search-button:hover {
    background-color: rgb(179, 136, 28);
    transform: scale(1.01);
}

main {
    margin-top: 5em;
    margin-left: 5em;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr;
}

.top-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 25px;
}

.create-button {
    width: fit-content;
    background-color: goldenrod;
    font-weight: bold;
    height: 40px;
    padding: 3.5px;
    align-self: center;
    justify-self: center;
}

.edit-button {
    width: fit-content;
    background-color: rgb(41, 153, 41);
    font-weight: bold;
    height: 40px;
    padding: 3.5px;
    align-self: center;
    justify-self: center;
}

.delete-button {
    width: fit-content;
    background-color: red;
    font-weight: bold;
    height: 40px;
    padding: 3.5px;
    align-self: center;
    justify-self: center;
}

.edit-button,
.delete-button {
    width: min-content;
    padding: 10px;
    margin: 0px 5px;
}

.create-button:hover {
    transform: scale(1.02);
    background-color: rgb(179, 136, 28);
}

.edit-button:hover {
    background-color: rgb(31, 116, 31);
}

.delete-button:hover {
    background-color: rgb(175, 0, 0);
}

.delete-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
}

.delete-title {
    font-size: 60px;
}

.create-button a,
.create-button a:visited,
.edit-button a,
.edit-button a:visited,
.delete-button a,
.delete-button a:visited {
    color: black;
}

.top-section h1,
.header-div h1,
.inbox-top-section h1 {
    font-weight: bold;
    font-size: 60px;
}

.header-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.top-section p {
    font-size: 30px;
}

.content-section {
    height: 600px;
}

.projects-container,
.companies-container,
.tasks-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

.project-container,
.company-container,
.task-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 100%;
}

.values,
.values a,
.values a:visited {
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
}

.task-name {
    text-decoration: underline;
}

.start-date,
.due-date,
.is-completed {
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
    height: min-content;
    margin: 2px;
}

.project-options {
    display: flex;
    margin-right: 40px;
    justify-content: right;
    align-content: center;
}

.tasks-container {
    overflow-y: auto;
}

.task-container.smaller {
    height: 75px;
    margin-bottom: 10px;
}

.task-container.smaller>div,
.task-container.smaller a,
.task-container.smaller a:visited,
.project-description {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
}

.task-info,
.task-detail {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 20px;
}

.task-info>div,
.task-detail>.project-options {
    display: flex;
    justify-content: right;
    align-content: center;
    margin-right: 40px;
}

.project-form>form,
.task-form>form,
.login-form>form,
.signup-form>form,
.create-message-form>form {
    width: fit-content;
    display: grid;
}

form p {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 30px;
}

.form>h1 {
    font-weight: bold;
    color: black;
    font-size: 60px;
    margin-bottom: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr;
}

.project-form>form>p,
.task-form>form>p,
.login-form p,
.signup-form p,
.create-message-form p {
    margin: 10px 0px;
    width: fit-content;
}

.project-form>form>p>label,
.task-form>form>p>label,
.login-form label,
.signup-form label,
.create-message-form label {
    display: flex;
    font-weight: bold;
    margin-right: 15px;
    justify-content: right;
}

input[type=text],
select,
textarea,
input[type=password] {
    display: flex;
    justify-self: left;
    font-size: 20px;
    padding: 5px;
    width: 350px;
}

#id_receiver {
    margin-right: 243px;
}

.submit-button {
    margin-top: 20px;
    justify-self: center;
}

.task-table {
    align-self: center;
    justify-self: center;
    height: 100%;
}

.task-table tbody {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}

.task-table tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px;
    justify-content: center;
    align-content: center;
}

.task-container.detail {
    height: 600px;
}

.task-detail th {
    margin-right: 100px;
}

.task-detail td,
.task-detail th {
    font-size: 20px;
}

.search-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.search-container>h1,
.company {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.search-container li a,
.search-container li a:visited {
    color: black;
    font-size: 30px;
}

.project-description {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 10px;
}

.inbox-top-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-bottom: 20px;

}

.search-bar-inbox-form {
    display: flex;
    justify-content: center;

}

.create-message-link {
    display: flex;
    justify-content: right;
}

select {
    width: fit-content;
}

.inbox-search-button {
    height: auto;
}

.inbox-container {
    margin-right: 40px;
}

.inbox-table {
    width: 100%;
    border-collapse: collapse;
}

.inbox-table>thead th {
    background-color: royalblue;
    color: goldenrod;
    font-size: 25px;
}

.inbox-table>thead th:first-child {
    width: 20%;
}

.inbox-table>thead th:last-child {
    width: 5%;
}

.inbox-table td {
    font-size: 20px;
}

.inbox-table th,
.inbox-table td {
    border: 1px solid black;
    padding: 8px;
}

.inbox-table td a,
.inbox-table td a:visited {
    color: black;
}

.inbox-table .delete-column a,
.inbox-table .delete-column a:visited {
    color: red;
}

.message-container {
    display: flex;
    justify-content: center;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: 500px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.top-left-section>h1 {
    font-size: 40px;
}

.message-sender {
    font-style: italic;
    font-weight: lighter;
}

.message-content {
    margin: 20px;
}

.create-message-button {
    padding: 7.5px 15px;
    margin-top: 15px;
}
