{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}
{% block content %}
    <main>
        <div class="login-form form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-container">{{ form.as_p }}</div>
                <button class="create-button submit">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
