{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <main>
        <div class="signup-form form">
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-container">{{ form.as_p }}</div>
                <button class="create-button submit">Signup</button>
            </form>
        </div>
    </main>
{% endblock content %}
