{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/stylesheets.css" %}">
    </head>
    <body>
        <div class="page-container">
            <header>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <div class="left-side">
                                <div class="dropdown">
                                    <span>Menu</span>
                                    <div class="dropdown-content">
                                        <li>
                                            <a href="{% url 'list_companies' %}">Companies</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'list_projects' %}">My Projects</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'show_inbox' %}">Inbox</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div class="center">
                                <li>
                                    <form class="search-bar" method="post" action="{% url 'search_companies' %}">
                                        {% csrf_token %}
                                        <input class="search-bar-input" type="search" name="searched" placeholder="Company"><button class="search-button" type="search">Search</button>
                                    </form>
                                </li>
                            </div>
                            <div class="right-side">
                                <div class="logout-section">
                                    <li>
                                        <a href="{% url 'logout' %}" class="logout">Logout</a>
                                    </li>
                                </div>
                            </div>
                        {% else %}
                            <div class="left-side">
                                <li>
                                    <a href="{% url 'login' %}" class="login">Login</a>
                                </li>
                                <li>
                                    <a href="{% url 'signup' %}">Signup</a>
                                </li>
                            </div>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>
