{% extends 'base.html' %}
{% block title %}Delete Task{% endblock title %}
{% block content %}
<main>
    <div class="delete-container">
        <h1 class="delete-title">Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            <button class="delete-button">Delete</button>
        </form>
    </div>
</main>
{% endblock content %}
