{% extends 'base.html' %}
{% block title %}Task Detail{% endblock title %}
{% block content %}
<main>
    <div class="task-container detail">
        <div class="task-detail">
            <div class="header-div">
                <h1>{{ task.name }}</h1>
            </div>
            <div class="project-options">
                <button class="edit-button"><a class="edit-task" href="{% url 'edit_task' task.id %}">Edit</a></button>
                <button class="delete-button"><a class="delete-task" href="{% url 'delete_task' task.id %}">Delete</a></button>
            </div>
            <table class="task-table">
                <tr>
                    <th>Start Date:</th>
                    <td>{{ task.start_date }}</td>
                </tr>
                <tr>
                    <th>Due Date:</th>
                    <td>{{ task.due_date }}</td>
                </tr>
                <tr>
                    <th>Is Completed:</th>
                    <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                </tr>
                <tr>
                    <th>Project:</th>
                    <td>{{ task.project }}</td>
                </tr>
                <tr>
                    <th>Assignee:</th>
                    <td>{{ task.assignee }}</td>
                </tr>
                <tr>
                    <th>Notes:</th>
                    <td>{{ task.notes }}</td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock content %}
