{% extends 'base.html' %}
{% block title %}Edit Task{% endblock title %}
{% block content %}
<main>
    <div>
        <div class="task-form">
            <h1>Edit {{task.name}}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="create-button submit-button">Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
