{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <div class="top-section">
                <h1>
                    Tasks:
                </h1>
            </div>
            <div class="content-section">
                {% if task_list|length == 0 %}
                    <p>No tasks assigned</p>
                {% else %}
                    <div class="tasks-container">
                        {% for task in task_list %}
                            <div class="task-container">
                                <div class="values task-name"><a href="{% url 'show_task' task.id %}">{{ task.name }}</a></div>
                                <div class="values start-date">Start: {{ task.start_date }}</div>
                                <div class="values due-date">Due: {{ task.due_date }}</div>
                                <div class="values is-completed">Completed: {{ task.is_completed|yesno:"Yes, No" }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
