{% extends 'base.html' %}
{% block title %}Companies{% endblock title %}
{% block content %}
<main>
    <div class="company-list">
        <div class="top-section">
            <h1>
                Companies:
            </h1>
        </div>
        <div class="content-section">
            {% if companies|length == 0 %}
                <p>No companies listed</p>
            {% else %}
                <div class="companies-container">
                    {% for company in companies %}
                        <div class="company-container">
                            <div class="values company-name"><a href="{% url 'show_company' company.id %}">{{ company.name }}</a></div>
                            <div class="values company-projects">{{ company.projects.all|length }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock content %}
