{% extends 'base.html' %}
{% block title %}Company{% endblock title %}
{% block content %}
<main>
    <div class="top-section">
        <h1>{{ company.name }} Projects:</h1>
    </div>
    <div class="content-section">
        <div class="projects-container">
            {% if company.projects.all|length == 0 %}
                <div>No Projects</div>
            {% else %}
                {% for project in company.projects.all %}
                    <div class="project-container">
                        <div class="project-name values"><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></div>
                        <div class="project-description">{{ project.description }}</div>
                    </div>
                {% endfor %}
            {% endif %}


        </div>
    </div>
</main>
{% endblock content %}
