{% extends 'base.html' %}

{% block title %}
    Project Detail
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <div class="top-section">
                <div class="project-info">
                    <h1>{{ project.name }}</h1>
                    <p>{{ project.description }}</p>
                </div>
                <div class="project-options">
                    <button class="edit-button"><a class="edit-link" href="{% url 'edit_project' project.id %}">Edit</a></button>
                    <button class="delete-button"><a class="delete=link" href="{% url 'delete_project' project.id %}">Delete</a></button>
                </div>
            </div>
            <div class="content-section">
                <div class="task-info">
                    <h2>Tasks({{ project.tasks.all|length }})</h2>
                    <div>
                        <button class="create-button create-task"><a href="{% url 'create_task' project.id %}">Create Task</a></button>
                    </div>
                </div>
                {% if project.tasks.all|length == 0 %}
                <p>No tasks assigned</p>
                {% else %}
                    <div class="tasks-container smaller">
                        {% for task in project.tasks.all %}
                            <div class="task-container smaller">
                                <div class="task-name"><a href="{% url 'show_task' task.id %}">{{ task.name }} ({{ task.assignee }})</a></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
        <div class="graph-container">
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
        </div>
    </main>
{% endblock content %}
