{% extends 'base.html' %}
{% block title %}Edit Project{% endblock title %}
{% block content %}
<main>
    <div class="project-form form">
        <h1>Edit Project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="create-button submit-button">Submit</button>
        </form>
    </div>
</main>
{% endblock content %}
