{% extends 'base.html' %}

{% block title %}
    Projects List
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <div class="top-section">
                <h1>My Projects</h1>
                <button class="create-button"><a href="{% url 'create_project' %}">Create a new project</a></button>
            </div>
            <div class="content-section">
                {% if project_list|length == 0 %}
                    <p>You are not assigned to any projects</p>
                {% else %}
                    <div class="projects-container">
                        {% for project in project_list %}
                            <div class="project-container">
                                <div class="values project-name"><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></div>
                                <div class="values project-tasks">{{ project.tasks.all|length }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
