{% extends 'base.html' %}
{% block title %}Search Results{% endblock title %}
{% block content %}
<main>
    <div class="search-container">
        {% if searched %}
        <h1>You searched for: {{ searched }}</h1>
            <ul>
                {% for company in companies %}
                    <li><a href="{% url 'show_company' company.id %}">{{ company.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
        <h1>Please search</h1>
        {% endif %}
    </div>
</main>
{% endblock content %}
